body{
    height: 100vh;
    overflow: hidden;
}
section{
    max-width: 1440px;
    padding: 0 0 100px 0;
}
.blue {
    background-color: #006BB6;
}
.green{
    background-color: #8DB11B;
}
.text-blue{
    color: #006BB6;
}
.tasksContainer{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-group{
    display: flex;
    flex-direction: row;
    max-width: 1130px;
    justify-content: space-between;
    margin-left: 150px;
}
.item-text{
    font-size: 20px;
    border: none;
    width: 630px;
}
.marked{
    border: none;
    font-size: 20px;
}
.points{
    border: none;
    font-size: 20px;
}
.parts{
    margin: 10px auto 15px;
    height: 98%;
}
.taskDescription {
    max-height: 300px;
    border: 3px solid #8DB11B;
    border-radius: 20px;
}
#taskDescription{
    overflow-y: scroll;
    background-color: #ffffff;
    height: 290px;
}
.text {
    min-height: 350px;
}
#taskDescription::-webkit-scrollbar {
    width: 20px;
    background-color: #f9f9fd;
}
#taskDescription::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #8DB11B;
}
#taskDescription::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 30px;
    background-color: rgba(141, 177, 27, 0.28)
}
.profilePic{
    width: 130px;
    height: 170px;
    margin: 40px 70px 0 60px;
}
.profileText{
    margin: 60px 0 0 0;
}
.form-group{
    border-radius: 50%;
    margin-bottom: 20px;
}
.form{
    margin: 40px 0 0 0;
}
.saveProfileButton{
    margin: 0;
    width: 30%;
    height: 50px;
    font-size: 20px;
    padding: 0;
}
.editProfileButton{
    margin: 0;
    height: 50px;
    width: 25%;
    font-size: 20px;
    padding: 0;
}
.profileForm{
    width: 80%;
    height: 50px;
}
.logIn{
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logIn__group{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.logIn__heading{
    text-align: center;
}
.logIn__pic{
    max-width: 450px;
    max-height: 450px;
}
.logInForm{
    height: 40px;
    width: 50%;
    margin: 20px auto 0;
}
.logInButton{
    margin: 5px auto;
    width: 45%;
}
.logIn__roundTop{
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
}
.logIn__roundLeft{
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.logIn__passwordReset{
    color: #cdcdcd;
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin: 0;
}
.logIn__passwordResetText{
    color: #cdcdcd;
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin: 0;
}
.logIn__regLink{
    margin: 10px auto 0;
    color: #cdcdcd;
}
.regForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 50%;
    padding: 10%;
}
.regButton{
    margin: 40px auto;
    width: 45%;
}
.reg__roundLeft{
    hegiht: 15%;
    width: 15%;
    position: absolute;
    top: 0%;
    left: 0;
}
.reg__roundRight{
    hegiht: 15%;
    width: 15%;
    position: absolute;
    bottom: 0%;
    right: 0;
}
.regButton{
    margin: 25px auto;
    width: 45%;
}
.start{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('images/backgroundmain.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check{
    margin: auto;
}
.addGroup{
    display: flex;
    justify-content: end;
    margin: 50px;
    max-width:50%;
}
.saveSolutionButton{
    margin: 5px;
    height: 50px;
    width: 25%;
    font-size: 18px;
    padding: 0;
}
.ace{
    display: flex;
    width: 35%;
    justify-content: space-around;
    align-items: center;
    background-color: #8DB11B;
    margin: 5px;
    height: 50px;
    font-size: 18px;
    padding: 0;
}
.taskFooter{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
#editor {
    position: relative;
    border: 3px solid #8DB11B;
    border-radius: 20px;
    width: 50%;
    font-size: 16px;
}
